Questão 1)

1- Armazene o valor 5 em uma variável e o valor 2 em outra variável
2- Imprima o tipo de dados dessas duas variáveis3- 
Divida a primeira variável (com o valor 5) pela segunda variável (com o valor 2) e armazene o resultado em uma terceira variáve4- l
Imprima a terceira variável e também o seu tipo

In [2]:
v1 = 5
v2 = 2
print(type(v1))
print(type(v2))

divisao = v1 / v2
print(divisao)
print(type(divisao))

<class 'int'>
<class 'int'>
2.5
<class 'float'>

 Questão 2)

Armazene o texto "o resultado é"  em uma variável, o valor 10 em outra variável, e o valor 3.5 numa terceira variável.
Some os valores da segunda e terceira variável e armazene em outra variável.
Imprima todas as variáveis na ordem de criação e imprima também seus tipos.

In [12]:
v1 = "o resultado é"
print(type(v1))
v2 = 10
print(type(v2))
v3 = 3.5
print(type(v3))
soma = v2 + v3
print(type(soma))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>

Questão 3)

Dadas duas variáveis v1 = 10 e v2 = 20, utilize uma terceira variável para trocar os valores entre as duas variáveis.

In [13]:
v1 = 10
v2 = 20
aux = v1
v1 = v2
v2 = aux
print(v1, v2)

20 10

 Questão 4)

juros = 1.01
saldo = 500.0
rendimento1 = saldo * juros
rendimento2 = rendimento1 * juros
rendimento3 = rendimento2 * juros
print("Após 3 meses meu novo saldo é")
print(rendim
ento3)

In [9]:
juros = 1.01
saldo = 500.0
print(saldo)
saldo = saldo * juros
print(saldo)
saldo = saldo * juros
print(saldo)
saldo = saldo * juros
print(saldo)

500.0
505.0
510.05
515.1505